/.vs/UnstableEngine/FileContentIndex
/.vs/UnstableEngine/FileContentIndex
/.vs/UnstableEngine/FileContentIndex
/.vs/UnstableEngine/FileContentIndex
/.vs/UnstableEngine/FileContentIndex
*.ipch
*.vsidx
.vs/UnstableEngine/FileContentIndex/87c1e4a1-1ce7-449a-ae72-907171a09892.vsidx
.vs/UnstableEngine/FileContentIndex/87d56888-47aa-4305-a6d8-87798c306eab.vsidx
.vs/UnstableEngine/FileContentIndex/0a7308b8-2dea-45f0-a5df-1019ac52a40d.vsidx
